* {
    box-sizing: border-box;
    transition: ease all 0.5s;
}

body {
    background-image: radial-gradient(ellipse at center bottom, #462760 10%, #e8c4e5 100%);
}

.content {
    margin-top: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#changePasswordForm {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#actualPassword, #newPassword {
  width: 150px; /* Ajustați valoarea după preferință */
  margin-bottom: 5px;
}


#title-changePasswordForm {
  margin-bottom: 7px;
}

#submit-changePasswordForm {
  margin-bottom: 50px;
  margin-top: 15px;
  background-color: white;
  color: #8B3C7F;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  padding: 7px 15px;
}

#submit-changePasswordForm:hover {
  background-color: #3C1A37;
  font-weight: bolder;
  color:#ffffff;
  border-radius: 5px;
}

.logout {
    background-color: white;
    color: #8B3C7F;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 30px;
}

button.logout:hover {
  background-color: #3C1A37;
  font-weight: bolder;
  color:#ffffff;
  border-radius: 5px;
}

a.logout {
  color: #8B3C7F;
  text-decoration: none;
  font-size: 20px;
  padding: 15px 25px;
}

a.logout:hover {
  color: white;
  background-color: #3C1A37;
  padding: 15px 25px;
}

.password-input {
  position: relative;
  display: inline-block;
  overflow: hidden;
  display: flex;
justify-content: center;
align-items: center;
}

.password-input input {
  width: 170px;
  padding: 10px;
  font-size: 14px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(45deg, #8B3C7F, #79346e);
  color: #ffffff;
  transition: all 0.3s ease;
}

.password-input input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.password-input input::placeholder {
  color: #3C1A37;
  transition: color 0.3s ease;
}

.password-input input:focus::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.password-input input:hover {
  transform: scale(1.05);
  border-radius: 12px;
}

.password-input input:valid {
  background: linear-gradient(45deg, #c7b7c7, #8B3C7F);
}

#title-changePasswordForm {
  color: #231942;
}

#welcome {
  font-weight: bold;
  font-size: 38px;
  padding-bottom: 10px;
  margin-top: 30px;
  color: #231942;
  text-shadow: 2px 2px 4px #d4adc6;
  animation: glow 2s ease-in-out infinite alternate
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #8B3C7F, 0 0 40px #8B3C7F, 0 0 50px #8B3C7F, 0 0 60px #8B3C7F, 0 0 70px #8B3C7F;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #d355a3, 0 0 40px #d355a3, 0 0 50px #d355a3, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #d355a3;
  }
}

#downloads-text {
  margin-top: 30px;
}