SLIDESHOW

* {
  box-sizing: border-box;
  transition: ease all 0.5s;
}

body {
  /* background-image: radial-gradient(ellipse at center bottom, #ffffff 10%, #ffffff 100%); */
  background-image: radial-gradient(ellipse at center bottom, #462760 10%, #e8c4e5 100%);
}

/* Slideshow container */
.slideshow-container {
  max-width: auto;
  position: relative;
  margin: auto;
}

/* Make the images invisible by default */
.Containers {
  display: none;
  filter: blur(-2px); /* efect de blur */
}

.Containers::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(40, 41, 38, 0.6); /* culoarea de fundal cu opacitate */
  z-index: 1;
}


@-webkit-keyframes fade {
  from {
      opacity: .5
  }

  to {
      opacity: 2
  }
}

@keyframes fade {
  from {
      opacity: .5
  }

  to {
      opacity: 2
  }
}

.text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}

.text-container h2 {
  color: #fff;
  font-size: 36px;
  margin-bottom: 20px;
}




/* facut acum */

.content {
  margin-top: 30px;
  padding: 20px;
}

.filter-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-field {
  display: flex;
  align-items: center;
  gap: 5px;
}

.actor-search-dropdown {
  position: relative;
}

.actor-search-dropdown input[type="text"] {
  width: 150px;
}

.actor-search-dropdown ul {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
}

.actor-search-dropdown ul li {
  padding: 5px;
  cursor: pointer;
}

.release-year-field {
  position: relative;
}

.release-year-hover {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px;
  display: none;
}

.release-year-field:hover .release-year-hover {
  display: block;
}

.filter-button {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}


#gender-options {
  display: none;
}

.filter-field:hover #gender-options {
  display: block;
}



.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

/* .pagination button {
  border: none;
  background-color: #0f27de;
  cursor: pointer;
  padding: 5px 10px;
} */

#filter-sort {
  font-family: "Oswald";
  font-weight: bold;
  color: white;
  font-size: 20px;
}

.pagination #page-number1 {
  margin: 0 10px;
  font-family: "Oswald";
  font-weight: bold;
  color: white;
  font-size: 20px;
}

.pagination #page-number2 {
  margin: 0 10px;
  font-family: "Oswald";
  font-weight: bold;
  color: white;
  font-size: 20px;
}

.page-limit-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

/* filter / sort section */

#actors-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 20px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.movie {
  position: relative;
  flex: 0 0 23%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-right: 1%;
}

.movie img {
  /* width: 220px; */
  height: auto;
  border: 1px solid #ccc;  /* Adaugă o bordură subțire imaginii */
  transition: opacity 0.3s ease;
}

.movie:hover img {
  opacity: 0.8; /* Redu opacitatea imaginii la hover */
}

#poster {
  width: 220px;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adaugă o umbră subtilă */
}


#name {
  font-size: 20px;
  color: #ffffff;
  margin-top: 10px;
}

#release_date {
  font-size: 15px;
  color: #ffffff;
  margin-top: 5px;
}

.view-more-button {
  background-color: #8B3C7F;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.view-more-button:hover {
  background-color: #5F2653;
  font-weight: bold;
}

.pagination-button {
  background-color: #8B3C7F;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.pagination-button:hover {
  background-color: #5F2653;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
}






/* */

#nominalizari {
    background-color: #f9f9f9;
    padding: 50px;
  }
  
  .top-nominalizari {
    max-width: 1000px;
    margin: 0 auto;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 50px;
  }
    
    .nominalizari-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }
    
    .nominalizare {
    width: 800px;
    /* margin-bottom: 40px; */
    text-align: right;

    font-size: 17px;
    font-style: italic;
    float: right;
    }

    @media screen and (max-width: 700px) {
      .filter-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        /* top: 10px;
        bottom: 10px; */
      }

      .dropdown {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }

    /* dropdown menu*/
    .filter-menu {
      display: flex;
      justify-content: space-around;
    }
    
    .dropdown {
      position: relative;
      display: inline-block;
      text-align: center;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      z-index: 1;
      background-color: white;
    }
    
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;

    }
    
    .dropdown:hover .dropdown-content {
      display: block;
    }
    
    .dropbtn {
      background-color: #8B3C7F;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      font-weight: bold;
      cursor: pointer;
    }
    
    .dropbtn:hover {
      background-color: #3C1A37;
      font-weight: bolder;
      color: #ffffff;
      border-radius: 5px;
      padding: 10px 20px;
    }
    
    .year-range {
      display: flex;
      flex-wrap: wrap;
      text-align: center;
    }
    
    .range-label {
      font-weight: bold;
      margin-right: 16px;
      margin-top: 8px;
      margin-bottom: 8px;
      text-align: center;
    }
    
    
    .search-container input[type=text] {
      width: 60%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 4px;
    }
    
    .search-container button[type=submit] {
      background-color: #8B3C7F;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    .search-container button[type=submit]:hover {
      background-color: #3C1A37;
    }

    .search-container value{
      color: #454545eb;
    }
    

/* */
