* {
    box-sizing: border-box;
    transition: ease all 0.5s;
}

body {
    background-image: radial-gradient(ellipse at center bottom, #462760 10%, #e8c4e5 100%);
}

.year a:hover {
    background-color: #e8c4e5;
    cursor: pointer;
    border-radius: 20px;
    color: #1f1c1f;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
  }

.content {
    margin-top: 100px;
}

canvas {
    max-height: 70%;
    max-width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e8c4e5;
    display: block;
    margin: 20px;
}

#myChart3 {
    padding: 5%;
}

.years {
    display: flex;
    margin-bottom: 20px;
}

.year {
    cursor: pointer;
    margin: 5px;
    background-color: #462760;
    border-radius: 20px;
    color: #f6f0f6;
    height: 30px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-body {
    margin: 0 10%;
    margin-top: 1%;
}

.diagrams {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}

h1 {
    font-weight: normal;
}

.text {
    margin-top: 30px;
    width: 90%;
    padding: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 20px;
}

.export {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
    margin-bottom: 70px;
}

.item {
    cursor: pointer;
    margin: 5px;
    background-color: #462760;
    border-radius: 20px;
    color: #f6f0f6;
    height: 30px;
    width: 60px;
    display: flex;
    align-items: center;
    border: 1px solid black;
    justify-content: center;
}

.active-year {
    background-color: #f6f0f6;
    color: #462760;
    font-weight: bold;
}

.input-field {
    background-color: #462760;
    border: 1px solid #2a123e;
    padding: 5px 10px;
    font-size: 17px;
    margin: 5px;
}

#search {
    text-decoration: none;
    border: 2px solid #2a123e;
    padding: 10px 20px;
    border-radius: 15px;
    background-color: #32124d;
    font-size: large;
    color: #c6a5c3;
}

#search:hover {
    background-color: #e8c4e5;
    border: 2px solid #ac8ca9;
    color:#2a123e;
}

#searchForm {
    justify-content: center;
}

.form-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

#export {
    display: none;
}

.spacing {
    margin: 20px;
}

