/*imagine fundal*/
body {
  background-image: url('https://i.postimg.cc/XYnsW7PM/R2.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  transition: background-image 1s ease-in-out;
}

.box {
  background-color: rgba(194, 145, 226, 0.3);
  background-attachment: fixed;
  background-size: cover;
  height: 52vh;
  border-radius: 5px;
  font-family: sans-serif;
  text-align: center;
  line-height: 1;
 -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  padding-bottom: 6%;
  padding-top: 16%;
  flex: 50%;
}

.container {
  
  align-items: center;
  display: flex;
  justify-content: center;
  width: auto;
  min-height: 100%;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
}

#logo-content
{
  height: 80%;
  width: auto;
}

@media only screen and (max-width: 800px) {
  #logo-content
{
  padding-top: 8%;
  height: 70%;
  width: auto;
}
} 

@media only screen and (max-width: 450px) {
  #logo-content
{
  padding-top: 25%;
  height: 50%;
  width: auto;
}
} 

@media only screen and (max-width: 300px) {
  #logo-content
{
  padding-top: 45%;
  height: 30%;
  width: auto;
}
} 


@media only screen and (min-height: 900px) {
  .box {
    height: 70vh;
  }
  #logo-content
{
  padding-top: 60%;
}
} 

@media only screen and (max-height: 400px) {
  #logo-content
{
  padding-top: 25%;
  height: 50%;
  width: auto;
}
} 