footer {
	margin-top: auto;
	min-height: 15vh;
	display: flex;
	background-color: #231942;
	align-items: center;
	justify-content: space-between;
	padding: 0 30px;
}

.left-footer {
	max-width: 30%;
	font-size: 30px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #eee;
}

.center-footer {
	font-size: 22px;
	font-family: Arial, Helvetica, sans-serif;
	color: #bba4da;
	margin: auto 0;
	display: flex;
	justify-content: space-evenly;
}

.right-footer {
	max-width: 30%;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	color: #c6b6d6;
	justify-content:right;
	margin: auto 0;
}

#about-us {
	font-size: 20px;
	color:rgb(255, 255, 255);
	padding-bottom: 5px;
}

#nume-echipa {
	display: inline;
	font-size: 32px;
	background: -webkit-linear-gradient(#eee, rgb(62, 4, 125));
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

#copyright {
	padding-top: 5px;
	font-size: 16px;
	color:#b1b1b1;
	font-family: Arial, Helvetica, sans-serif;
}

#location {
	display: flex;
	align-items: center;
	padding-bottom: 5px;
	padding-right: 4vh;
}

.circle {
	background-color: #140d2a;
	border-radius: 20px;
	min-width: 40px;
	height: 40px;
	display:flex;
	align-items: center;
	justify-content: center;
}

.name {
	display: flex;
	align-items: center;
}

#loc {
	padding-left: 10px;
}

#city {
	font-size: 20px;
}

.name > p {
	padding-left: 10px;
	font-size: 18px;
}

.center-footer > div {
	padding: 0 5px;
}

.center-footer > div > div > div > i, .center-footer > div > div > i {
	color: white;
}

.center-footer > div > div > p {
	color: #c6b6d6;
}

@media only screen and (max-width: 1050px) {

	.center-footer {
		display: inline;
	}

	.right-footer {
		margin: 10px 0;
	}
}

@media only screen and (max-width: 650px) {

	footer {
		flex-wrap: wrap;
		display: flex;
		align-items: center;
	}
	
	.left-footer {
		max-width: 100%;
		padding: 0;
		width: 100%;
		margin: 0;
		align-self: center;
		text-align: center;
		align-content: center;
	}

	.center-footer {
		align-items: center;
		justify-content: center;
		margin-top: 10px;
	}
	
	.right-footer {
		margin: 0;
		padding: 0;
		padding-bottom: 20px;
		margin-top: 10px;
		max-width: 50%;
	} 
}

@media only screen and (max-width: 450px) {

	footer {
		flex-wrap: wrap;
		display: flex;
		align-items: center;
	}
	
	.left-footer {
		max-width: 100%;
		padding: 0;
		width: 100%;
		margin: 0;
		align-self: center;
		text-align: center;
		align-content: center;
	}

	.center-footer {
		max-width: 100%;
		padding: 10px 0;
		width: 100%;
		margin: 0;
		display: flex;
		align-self: center;
		text-align: center;
		align-content: center;
	}
	
	.right-footer {
		max-width: 100%;
		padding: 5px 0 20px 0;
		width: 100%;
		margin: 0;
		align-self: center;
		text-align: center;
		align-content: center;
	} 

	#loc {
		align-items: left;
		text-align: left;
	}
}

	@media only screen and (max-width: 280px) {

	.center-footer {
		display: inline;
		text-align: center;
	}

	#loc {
		align-items: left;
		text-align: left;
	}
}