header {
    background-color: #8B3C7F;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    height: 75px;
    margin-left: 15px;
  }

  .logo a:hover {
    background-color: transparent;
  }
  
  .logo a {
    display: block;
  }  
  
  .menu {
    list-style: none;
    display: flex;
  }
  
  .menu li {
    margin-right: 20px;
  }
  
  .menu li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    background-color: transparent;
  }

  .menu li a:hover {
    background-color: #441d3e;
    font-weight: bolder;
    border-radius: 5px;
    padding: 5px 10px;
    left: auto;
    right: auto;
  }
  
  .try-now {
    margin-left: 20px;
    margin-right: 12px;
  }
  
  .try-now-btn {
    background-color: white;
    color: #8B3C7F;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .try-now-btn:hover {
    background-color: #3C1A37;
    font-weight: bolder;
    color:#ffffff;
    border-radius: 5px;
    padding: 10px 20px;
  }

  