/* SLIDESHOW */

* {
  box-sizing: border-box
}

body {
  /* background-image: radial-gradient(ellipse at center bottom, #ffffff 10%, #ffffff 100%); */
  background-image: radial-gradient(ellipse at center bottom, #462760 10%, #e8c4e5 100%);
}

/* Slideshow container */
.slideshow-container {
  max-width: auto;
  position: relative;
  margin: auto;
}

/* Make the images invisible by default */
.Containers {
  display: none;
  filter: blur(-2px); /* efect de blur */
}

.Containers::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(40, 41, 38, 0.6); /* culoarea de fundal cu opacitate */
  z-index: 1;
}


@-webkit-keyframes fade {
  from {
      opacity: .5
  }

  to {
      opacity: 2
  }
}

@keyframes fade {
  from {
      opacity: .5
  }

  to {
      opacity: 2
  }
}

.text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}

.text-container h2 {
  color: #fff;
  font-size: 36px;
  margin-bottom: 20px;
}

.bttn-nominalizations {
  margin-right: - 55px;
  margin-left: 12px;
  background-color: white;
  color: #8B3C7F;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
} 

.bttn-nominalizations a {
  text-decoration: none;
}

.bttn-nominalizations a:hover {
  background-color: transparent;
}

.bttn-nominalizations:hover {
  background-color: rgba(255, 255, 255, 0.829);
  font-weight: bolder;
  color:#ffffff;
  border-radius: 5px;
  padding: 10px 20px;

  transition: background-color 0.5s, color 0.5s;
}

.bttn-nominalizations a:active {
  color: #8B3C7F; /* sau orice alta culoare doriti */
}


/* */

#nominalizari {
    background-color: #f9f9f9;
    padding: 50px;
  }
  
  .top-nominalizari {
    max-width: 1000px;
    margin: 0 auto;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 50px;
  }
    
    .nominalizari-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }
    
    .nominalizare {
    width: 800px;
    /* margin-bottom: 40px; */
    text-align: right;

    font-size: 17px;
    font-style: italic;
    float: right;
    }

    @media screen and (max-width: 700px) {
      .filter-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        /* top: 10px;
        bottom: 10px; */
      }

      .dropdown {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }

    /* dropdown menu*/
    .filter-menu {
      display: flex;
      justify-content: space-around;
    }
    
    .dropdown {
      position: relative;
      display: inline-block;
      text-align: center;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      z-index: 1;
      background-color: white;
    }
    
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;

    }
    
    .dropdown:hover .dropdown-content {
      display: block;
    }
    
    .dropbtn {
      background-color: #8B3C7F;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      font-weight: bold;
      cursor: pointer;
    }
    
    .dropbtn:hover {
      background-color: #3C1A37;
      font-weight: bolder;
      color: #ffffff;
      border-radius: 5px;
      padding: 10px 20px;
    }
    
    .year-range {
      display: flex;
      flex-wrap: wrap;
      text-align: center;
    }
    
    .range-label {
      font-weight: bold;
      margin-right: 16px;
      margin-top: 8px;
      margin-bottom: 8px;
      text-align: center;
    }
    
    
    .search-container input[type=text] {
      width: 60%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 4px;
    }
    
    .search-container button[type=submit] {
      background-color: #8B3C7F;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    .search-container button[type=submit]:hover {
      background-color: #3C1A37;
    }

    .search-container value{
      color: #454545eb;
    }
    

/* */


/*Stilizare pentru containerul de slideshow*/
.slideshow-container-nominalizari {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

/*Stilizare pentru slide-uri*/
.mySlides {
  display: none;
}

.nomination-type {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.nominee, .winner {
  display: block;
  border-bottom: 1px solid black;
  padding: 20px 0;
}

.final-nominee {
  display: block;
  padding: 20px 0;
}

.principal-name {
  font-size: 24px;
  font-weight: bold;
  float: left;
}

.secundar-name {
  font-size: 16px;
  margin-top: 5px;
}

.winner .principal-name {
  color: #3C1A37;
}

.nominee .principal-name {
  color: black;
}

.prev-top, .next-top {
  position: absolute;
  top: 0%;
  transform: translateY(-50%);
  color: rgb(0, 0, 0);
}

.prev-top {
  left: 0;
}

.next-top {
  right: 0;
}

.prev-bttm, .next-bttm {
  position: absolute;
  top: 103%;
  transform: translateY(-50%);
  color: black;
}

.prev-bttm {
  left: 0;
}

.next-bttm {
  right: 0;
}

.principal-name-containter {
  display: flex;
  align-items: center;
}

/* .secondary-name-container {
  margin-top: 5px;
} */
