
html {
    font-family: sans-serif;
  }
  
  body {
    max-width: 21cm;
    margin: auto;
    line-height: 1.6;
    font-weight: 300;
    font-family: Roboto, sans-serif
  }
  
  header>h1 {
    margin: 0;
    font-size: 3em;
    padding-top: 4em
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    letter-spacing: .0375em
  }
  
  h1,
  h2,
  h3 {
    color: #4b0061
  }
  
  h2 {
    margin-top: 3em
  }
  
  h3 {
    margin-top: 1em;
    margin-left: 2em
  }
  
  h4 {
    font-weight: 300;
    font-size: 1.2em;
    -webkit-font-feature-settings: "c2sc";
    font-feature-settings: "c2sc";
    font-variant: small-caps;
    margin: 2em 0 .5em
  }
  
  #p_in_h2 {
    margin-left: 1em;
  }
  #p_in_h3 {
    margin-left: 3em;
  }

